body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.tableHeader{
	  background-color: #433A39;
	  color: white;
}

#loginBlock{
width: 50%;
margin: 0 auto;
padding-top:100px;
}

#alertBlockLogin, 
#alertBlockFranchise,
#alertBlockWarehouse{
text-align: center;
}

